:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: inherit;
}

body {
  margin: 0 !important;
  max-width: none !important;
}

.page-container {
  /* min-width: 400px; */
  max-width: 1200px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.top-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  width: 100%;
}

.print-button {
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.6em 2.5em 0.6em 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: border 0.2s, box-shadow 0.2s;
  width: 100%;
  background-color: #fafafa;
  color: #151515;
}

.print-button:hover {
  border-color: #888;
}

.error-container {
  text-align: center;
  padding: 2rem;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin: 1rem;
}

@media print {
  body {
    color: #151515 !important;
  }

  a,
  a:visited {
    color: #8c8cff !important;
    text-decoration: underline !important;
  }
  
  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }
}

.print-only {
  display: none;
}

@media (max-width: 480px) {
  .page-container {
    min-width: 100%;
    padding: 1rem;
  }
}
